input {
    width: 45%;
    margin-right: 1%;
    padding: 1% 0 0 0;
    box-sizing: border-box;
    background-color: lightblue;
    color: black;
    border-radius: 4px;
    
}

button {
    padding: 0.5% 1% 0 1%;
    
}